h1 {
  font-size: 3rem; 
  color: #2275a9; 
  text-align: center;
  margin-top: 50px; 
  font-family: 'Arial', sans-serif; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  font-weight: bold; 
}
